package components

import "recipeapp/models"

templ Index(meal *models.Meal) {
    <!doctype html>
    <html>
        @Head()
        <body class="is-family-monospace">
            @Navbar()
            <div id="mainBody">
                if meal != nil && meal.StrMeal != "" {
                    @RecipeList(meal)
                } else {
                    @LandingBody()
                }
            </div>
        </body>
    </html>
}
