package components

templ LandingBody() {
    <div class="has-text-centered p-3">
        <div class="container has-text-centered">
            <h1 class="title">Welcome to the Meal App</h1>
            <p class="subtitle">
                Search for a recipe or click "Random" to get started!
            </p>
        </div>
    </div>
}
