{{define "navbar"}}
<nav class="navbar p-5" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <div class="navbar-start is-size-1 is-underlined">
            <a class="navbar-item" hx-post="/body/" hx-target="#body"
                >RECIPES</a
            >
        </div>
    </div>
    <div class="navbar-menu">
        <div class="navbar-end">
            <div class="navbar-item">
                <div class="control">
                    <button
                        class="button"
                        hx-post="/random-meal/"
                        hx-target="#body"
                        type="button"
                    >
                        Random
                    </button>
                </div>
                <div class="control">
                    <input
                        id="search-input"
                        class="input"
                        type="text"
                        placeholder="Search Recipe"
                        hx-post="/search-meal/"
                        hx-target="#body"
                        hx-trigger="keyup[key=='Enter']"
                    />
                </div>
                <div class="control">
                    <button
                        class="button"
                        hx-post="/search-meal/"
                        hx-target="#body"
                        hx-trigger="click"
                        hx-include="#search-input"
                    >
                        Search
                    </button>
                </div>
            </div>
        </div>
    </div>
</nav>
{{end}}
